{% extends "_base.html" %}
{% load static %}
{% load custom_tags %}

{% block page_style %}
<link href="{% static 'theme/custom/css/timeline-old.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'theme/custom/css/timeline-fix-alignment.css' %}" rel="stylesheet" type="text/css" />
{% endblock page_style %}


{% block page_plugins %}
{% endblock page_plugins %}


{% block page_scripts %}
{% endblock page_scripts %}


{% block page_init_features %}
{% endblock page_init_features %}


{% block content %}
<!-- BEGIN PAGE CONTENT-->

    <div class="alert alert-warning">
        <div>
            <strong>Description: </strong> {{ record.description }}

            <a href="{{ add_team_task_history_link }}{{ record.id }}" class="btn btn-icon-only purple pull-right" title="Add Update">
                <i class="fa fa-plus"></i>
            </a>
            <a href="{{ team_task_edit_link }}{{ record.id }}" class="btn btn-icon-only green pull-right" title="Edit Task" >
                <i class="fa fa-edit"></i>
            </a>
        </div>

        <div>
            <strong>Person/s In Charge: </strong> {{ record.user_names }}
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <ul class="timeline">
        {% for element in history %}
            {% if element.id == last_history.id %}
                <li class="timeline-purple timeline-noline">
            {% else %}
                <li class="timeline-purple">
            {% endif %}


                <div class="timeline-time">
                    <span class="date">
                    {{ element.date_action }} </span>
                    <span class="time">
                    {{ element.user.username }} </span>
                    <span class="date">
                    {{ element.next_action }} </span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="timeline-body">

                    <h2>{{ element.action_taken }}</h2>
                    <div class="timeline-content">
                        {{ element.remarks }}
                    </div>
                    <div class="timeline-footer">
                        <a href="{# url_for_or_none('team_mgt.add_document') #}/{# element.document_id #}" class="nav-link">
                        {# element.document_ref_no #}
                        </a>
                        |
                        <a href="{% url 'team_mgt:edit_team_task_history' %}{{ element.id }}" class="nav-link">
                            Edit <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<!-- END PAGE CONTENT-->

{% endblock %}
