env
venv
temp
tmp
__pycahe__

*.pyc
.env
.coverage
.idea
workflow.txt

migrations/
/nginx/ssl
/nginx/logs

/web/dump
/web/dump_new
/web/py_pkg
/web/static
/web/project/static/theme
/db_backup
/web/media
/web/htmlcov