<!DOCTYPE html>
{% load static %}
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Login Page</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'theme/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'theme/global/css/components-rounded.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'theme/pages/css/login.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class=" login">
        <div class="menu-toggler sidebar-toggler"></div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index.html">
                <img src="../assets/pages/img/logo-big.png" alt="Team Logo" /> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" action="" method="post">
                {% csrf_token %}
                <h3 class="form-title font-green">Sign In</h3>
                <div class="alert alert-danger display-hide">
                    <span>
                        Enter any username and password.
                    </span>
                </div>
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    {{ form.username }}
                    <p class="text-danger">
                        {{ form.username.errors|striptags }}
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    {{ form.password }}
                    <p class="text-danger">
                        {{ form.password.errors|striptags }}
                    </p>
                </div>
                <div class="form-actions">
                    <label class="rememberme check">
                        {# form.remember_me() #} {# form.remember_me.label #} </label>
                    <button type="submit" class="btn green uppercase pull-right">Login</button>
                </div>
            </form>
            <!-- END LOGIN FORM -->

        </div>
        <div class="copyright"> Developed and Maintain by Marc Philippe de Villeres </div>
        <!--[if lt IE 9]>
<script src="{% static 'theme/global/plugins/respond.min.js' %}" type="text/javascript"></script>
<script src="{% static 'theme/global/plugins/excanvas.min.js' %}" type="text/javascript"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'theme/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'theme/global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/jquery-validation/js/additional-methods.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'theme/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'theme/pages/scripts/login.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>