<!DOCTYPE html>
{% load static %}
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Technology Budget Planning and Resource Control</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block page_plugin_style %}
        {% endblock page_plugin_style %}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'theme/global/css/components-rounded.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        {% block page_style %}
        {% endblock page_style %}
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'theme/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'theme/layouts/layout/css/themes/default.min.css' %}" rel="stylesheet" type="text/css" />
        {% block custom_style %}
        {% endblock custom_style %}
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white page-sidebar-closed">
        <!-- BEGIN HEADER -->
        {% include "_header.html" %}
        <!-- END HEADER -->
        <!--CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!--CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            {% block sidebar %}
                {# include "_sidebar.html" #}
            {% endblock sidebar %}

            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE CONTENT-->
                    {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% block content %}
                    {% endblock %}
                    <!-- END PAGE CONTENT-->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
            {# include "_footer.html" #}
        <!-- END FOOTER -->

        <!--[if lt IE 9]>
        <script src="{% static 'theme/global/plugins/respond.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/excanvas.min.js' %}" type="text/javascript"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'theme/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block page_plugins %}
        {% endblock page_plugins %}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'theme/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        {% block page_scripts %}
        {% endblock page_scripts %}
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'theme/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
        <!-- <script src="{% static 'theme/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script> -->
        <!-- <script src="{% static 'theme/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script> -->
        <!-- END THEME LAYOUT SCRIPTS -->

    </body>
</html>