{% load custom_tags %}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
            <span class="caption-subject font-green-sharp bold uppercase">{{ option|return_item:0 }} </span>
        </div>
    </div>
    <div class="portlet-body todo-project-list-content">
        <div class="todo-project-list">
            <ul class="nav nav-stacked">
                {% for name, count, url in option|return_item:1 %}
                <li>
                    <a href="{{ url }}">
                    {{ name }}
{#                        <span class="badge badge-danger"> {{ count }} </span>#}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>