<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
           {{ table_title }} Table
        </div>
    </div>
    <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{{ add_record_link }}">
                            <button id="toggle-advance-filter" class="btn sbold green"> Add New
                                <i class="fa fa-plus"></i>
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <table class="table table-striped table-bordered table-hover" id="dataset_table">
        <thead>
            <tr id="filterrow" hidden>
                {% for i in columns %}
                  <th>
                        {{ i }}
                  </th>
                {% endfor %}
            </tr>
            <tr>
                {% for i in columns %}
                  <th>
                        {{ i }}
                  </th>
                {% endfor %}
            </tr>

        </thead>
        <tfoot>
             <tr>
                {% for i in columns %}
                  <th>
                  </th>
                {% endfor %}
            </tr>
        </tfoot>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->