{% extends "_table.html" %}

<!-- BEGIN PAGE LEVEL SCRIPTS -->
{% block table_scripts %}
    {% include "utils/datatable/datatable_scripts.html" %}
{% endblock table_scripts%}

{% block page_init_features %}
{% endblock page_init_features%}

{% block table_content %}

<div class="row">
    <div class="col-md-12">
        {% include "utils/datatable/datatable_table.html" %}
    </div>
</div>
<!-- END PAGE CONTENT-->
<!-- END CONTENT -->
{% endblock table_content %}
<!-- END CONTAINER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
