{% load static %}
{% load custom_tags %}
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="{% url 'main:index' %}">
            <!-- need to change logo for VRM database -->
			<img src="../static/v4.0.2/custom/img/vrm-logo.png" alt="" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
		{% if user.is_authenticated %}

			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN TODO DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
					<a data-target="#static" data-toggle="modal" class="dropdown-toggle">
						<i class="icon-clock"></i>

						{% if request.user|is_signed_in == True %}
							<span class="badge badge-success"> Signed In </span>
						{% else %}
							<span class="badge badge-danger"> Signed Out </span>
						{% endif %}
					</a>
					<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
						<div class="modal-body">
                            {% if request.user|is_signed_in == True %}
                                <p> You are about to Sign-Out for Today, would you like to proceed</p>
                            {% else %}
                                <p> Would you like to Sign-In for Today? </p>

                            {% endif %}

						</div>
						<div class="modal-footer">
							<button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>
                            {% if request.user|is_signed_in == True %}
							    <a href="{% url 'user_mgt:sign_out' %}" class="btn green">Yes</a>
                            {% else %}
							    <a href="{% url 'user_mgt:sign_in' %}" class="btn green">Yes</a>
                            {% endif %}
						</div>
					</div>
					<ul class="dropdown-menu extended tasks">

					</ul>
				</li>
				<!-- END TODO DROPDOWN -->
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<span class="username username-hide-on-mobile">
                        {{ user.first_name  }} {{ user.last_name }}</span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="{% url 'user_mgt:table_attendance' %}">
							<i class="fa fa-table"></i> My Attendance Log </a>
						</li>
						<li>
							<a href="{% url 'user_mgt:change_password' %}">
							<i class="icon-lock"></i> Change Password </a>
						</li>
						<li>
							<a href="{% url 'user_mgt:logout' %}">
							<i class="icon-key"></i> Log Out </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>

		{% endif %}

		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
