beautifulsoup4==4.4.1
coverage==4.0.3
decorator==4.0.9
Django==1.9.2
django-datatables-view==1.13.0
django-nose==1.4.3
django-webtest==1.7.8
et-xmlfile==1.0.1
factory-boy==2.6.1
fake-factory==0.5.7
gunicorn==19.4.5
ipython==4.1.1
ipython-genutils==0.1.0
jdcal==1.2
mock==1.3.0
model-mommy==1.2.6
nose==1.3.7
numpy==1.10.4
openpyxl==2.3.4
pandas==0.17.1
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
python-dateutil==2.4.2
pytz==2015.7
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
waitress==0.8.10
WebOb==1.6.0
WebTest==2.0.20
xlrd==0.9.4
